@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-image: linear-gradient(
        rgba(252, 248, 248, 0.7),
        rgba(172, 222, 231, 0.7)),
        url(Imagen\ de\ WhatsApp\ 2024-04-14\ a\ las\ 17.11.00_9075ba89.jpg);
        background-position : center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo {
    color:#FF69B4;
    font-size: 25px;
    font-weight: 800;
 }
body{
font-family: 'Roboto Condensed' , sans-serif;}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin-right: 20px;
}

menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FF69B4;
    display: block;
    font-weight: 600;
    margin-right: 20px;
}
.menu .navbar ul li a:hover {
    color: #FF69B4;

}
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.header-content {
    text-align: center;
}
.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #FF69B4;
    margin-bottom: 35px;
}
.header-content p {
    font-size: 16px;
    color: #5c0079;
    padding: 0 250px;
    margin-bottom: 25px;
}
.header-content p {
    font-size: 16px;
    color: #5c0079;
    padding: 0 250px;
    margin-bottom: 25px;
}
.header-content p:hover {
   color: #FF69B4;
}
.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #FF69B4;
    color: #FFFFFF;
    text-transform: uppercase;

}
.btn-1:hover {
    background-color: #5c0079;
}
.ropa {
    padding: 100px 0;
    background-color: #e0e0e0;
    position: relative;
}
.ropa-content {
    text-align: center;

}
.ropa-content h2 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p {
    font-size: 24px;
    padding: 0 250px;
    margin-bottom: 35px;
}
.ropa-1 {
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}
.ropa-1 img {
    width: 400px;
    height: 300;
}
.ropa-img {
    position: absolute;
    top: 0;
    right: 0;
}
.servicios {
    background-image: linear-gradient(
        rgba(252, 248, 248, 0.7),
        rgba(172, 222, 231, 0.7)),
        url(Imagen\ de\ WhatsApp\ 2024-04-14\ a\ las\ 17.11.00_9075ba89.jpg);
        background-position : center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}
.servicios-content {
    text-align: center;
}
.servicios-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #FF69B4;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.servicios-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios-1 {
    padding: 0 3px;
}
.servicios-1 img {
    width: 280px;
    height: 98;
    right: 3;
}
.btn-2 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #FF69B4;
    color: #FFFFFF;
    text-transform: uppercase;

}
.btn-2:hover {
    background-color: #5c0079;
}